/*global styles*/
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(../oxygen.woff) format('woff');
}

body {
	font-family: 'Oxygen', sans-serif;;
}

.row {
	margin-left: 0px;
}

/*quiz styles*/
.toggle-btn {
	background-color: transparent;
	border-color: transparent;
	width: 150px;
	height: 150px;
	margin-bottom: 25px;
}

.quiz-body {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 3%;
}

.question-stmt {
	font-size: 48px;
	min-height: 48px;
}

.question {
	font-size: 60px;
	min-height: 60px;
	margin-left: 4px;
}

.answer-body {
	margin-bottom: 10px;
}

.answer-submit {
	margin-top: 10px;
}

.result {
	font-size: 15pt;
}

.correct-answer {
	color: #006600;
}

.incorrect-answer {
	color: #990000;
}

/*about styles*/
.about-body {
	margin-right: 5px;
	margin-top: 5px;
	font-size: 16px;
}

.about-text {
	font-size: 12pt;
}

.info-icon {
	margin-left: -10px;
	margin-top: 3px;
}

/*mode button styles*/
.mode-body {
	position: absolute;
}

.mode-btn-body {
	margin-bottom: 5px;
}

.mode-btn {
	background-color: transparent;
	border-color: transparent;
	width: 64px;
	height: 64px;
}

.btn-image:hover {
  opacity: 0.7;
}